body {
    background-color: #004e66;
    font-family: 'Source Sans Pro', sans-serif;
}

.clearfix:before, .clearfix:after {
    content : " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
    NAVIGATION
*/

nav .company {
    margin: 2em 0 0 2em;
} 

nav .company-logo {
    max-width: 3em;
    max-height: 3em;
    margin-top: .5em;
    float: left;
}

nav .company-name {
    float: left;
    margin: .5em 0 0 .5em;
    font-size: 2em;
    font-weight: 300;
    color: white;
}

/*
    AUTH
*/

.auth {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.auth .passcode {
    color: white;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.numbers {
    color: white;
    font-size: 3em;
    margin-top: 1em;
    display: inline-block;
}

.numbers .passcodenumber {
    display: inline-block;
    padding: 0 .3em;
    margin: 0 .3em;
    border-bottom: 2px solid white;
}