body {
    background-color: #004e66;
    font-family: 'Source Sans Pro', sans-serif;
}

.clearfix:before, .clearfix:after {
    content : " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.error-message {
    color: #ff5f2e;
    font-size: 1.1em;
}

/*
    NAVIGATION
*/

.nav-flex {
    display: flex;
    align-items: center;
    margin: 2em 0 0 2em;
}

.nav-flex .company-logo {
    max-width: 3em;
    max-height: 3em;
}

.nav-flex .company-name {
    font-size: 2em;
    font-weight: 300;
    color: white;
    margin-left: .5em;
}

/*
    AUTH
*/

.auth {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.auth .passcode {
    color: white;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.numbers {
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.numbers .passcodenumber {
    padding: 0 .3em;
    margin: 0 .3em;
    border-bottom: 2px solid white;
}

.keyboard {
    width: 25%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard .number {
    height: 75px;
    flex: 1 1 5%;
    margin: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard .num {
    color: white;
    padding: .5em .8em;
    font-size: 2em;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}