body {
    background-color: #004e66;
    font-family: 'Source Sans Pro', sans-serif;
}

.clearfix:before, .clearfix:after {
    content : " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
    NAVIGATION
*/

.nav-flex {
    display: flex;
    align-items: center;
    margin: 2em 0 0 2em;
}

.nav-flex .company-logo {
    max-width: 3em;
    max-height: 3em;
}

.nav-flex .company-name {
    font-size: 2em;
    font-weight: 300;
    color: white;
    margin-left: .5em;
    flex: 1 1 50;
}

/*
    AUTH
*/

.auth {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.auth .passcode {
    color: white;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

.numbers {
    color: white;
    font-size: 3em;
    margin-top: 1em;
    display: inline-block;
}

.numbers .passcodenumber {
    display: inline-block;
    padding: 0 .3em;
    margin: 0 .3em;
    border-bottom: 2px solid white;
}

.keyboard {
    width: 50%;
    margin: 0 auto;
}

.keyboard .number {
    border: 2px solid white;
    border-radius: 5px;
    width: 10%;
    height: 50px;
    margin: 25px;
    display: inline-block;
}